/* === Global Styles dashboard === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Para pantallas grandes (>=1200px) */
@media (min-width: 1200px) {
  #main-content {
    margin-left: 250px; /* ancho del sidebar */
  }
}

/* Para pantallas menores a 1200px */
@media (max-width: 1199px) {
  #main-content {
    margin-left: 0; /* sin margen en mobile/tablet */
  }
}
