/* === Global Styles dashboard === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #efe4d2 !important;
}

button {
  background-color: #254d70 !important;
}

a {
  background-color: #254d70 !important;
}