button,
a {
  background-color: #254d70 !important;
}

.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Estilos para la fila de encabezados */
.header-titles {
  letter-spacing: 0.04em;
}

/* Estilo para el título del producto */
.product-title {
  font-size: 1.13rem;
}

@media (max-width: 768px) {
  .responsive-btn {
    padding: 0.25rem 0.5rem; /* como btn-sm */
    font-size: 0.675rem; /* como btn-sm */
  }
}
