<section class="bg-white rounded shadow p-4 w-100">
    <h2 class="h6 fw-semibold mb-3">Productos con bajo stock</h2>
    @for (producto of productos; track producto.producto_id) {
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <div
                class="bg-{{getColor(producto.stock)}} bg-opacity-10 text-{{getColor(producto.stock)}} item-producto rounded d-flex align-items-center justify-content-center me-3">
                <i class="{{getIcono()}}"></i>
            </div>
            <div>
                <p class="mb-0 fw-medium">{{ producto.producto__nombre }}</p>
                <small class="text-muted">ID: {{ producto.producto_id }}</small>
            </div>
        </div>
        <span class="text-{{getColor(producto.stock)}} fw-medium">{{ producto.stock }}</span>
    </div>
    }
    @if (productos.length === 0) {
    <div class="text-center text-muted">No hay productos con stock bajo.</div>
    }
</section>