<section class="bg-white rounded shadow p-4">
  <div class="space-y-4 rounded-lg">
    <h2 class="h6 fw-semibold mb-3">Productos más vendidos</h2>

    <!-- Pseudo @for -->
    @for (producto of productos; track producto.id) {
    <div class="d-flex flex-row flex-wrap justify-content-between mb-1">
      <p class="text-sm font-medium">{{ producto.nombre }}</p>
      <p class="text-sm font-medium">{{ producto.unidadesVendidas }} unidades</p>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar {{getColor(producto)}}" role="progressbar"
           [style.width]="getWidth(producto)">
        {{ getWidth(producto) }}
      </div>
    </div>
    }

    @if (productos.length === 0) {
    <div class="text-center text-muted">No hay productos vendidos aún.</div>
    }
  </div>
</section>
