body {
    margin: 0;
    background-color: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

img {
    max-width: 90%;
    height: auto;
}