body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #464444;
}

/* Color letra */
h2 {
  margin-bottom: 1.5rem;
  color: #464444; 
}

header {
  background-color: #F7DCB9;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(197, 186, 186, 0.1);
}

.perfil-foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

section {
  background-color: #F7DCB9;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
  scroll-margin-top: 80px;
}

footer {
  font-size: 0.9rem;
}

.mi-navbar {
  background-color: #F7DCB9 !important;
  color: #464444 !important;
}

/* Es para cambiar el color de los links dentro del navbar */
.mi-navbar .navbar-brand,
.mi-navbar .nav-link {
  color: #464444 !important;
}

/* Cambia el color al hacer hover en links navbar */
.mi-navbar .nav-link:hover {
  color: #B99470 !important;
}

.mi-footer {
  background-color: #F7DCB9 !important;
  color: #464444 !important;
}

/* Botones para que no queden azules */
.btn-custom {
  background-color: #B99470; 
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #8c6b4d; 
  color: #fff;
}

/* Links en seccion */

#contacto a {
  color: #464444;
  text-decoration: none;
  font-weight: normal;
}

#contacto a:hover {
  color: #8c6b4d;
  text-decoration: none; 
}

.card {
  background-color: #f7e9dc; 
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.card-title,
.card-text {
  color: #464444; /* Gris oscuro de todo el texto */
}

.card-img-top {
  object-fit: contain;
  height: 250px; /* Es para ajustar altura foto card mis proyectos */
  padding: 1rem;
  background-color: #fff;
}

.btn-proyecto {
  background-color: #65696c;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-proyecto:hover {
  background-color: #96989b; 
  color: #fff;
}


