button, a {
  background-color: #254d70 !important;
}

form {
  padding: 20px !important;
  box-sizing: border-box !important;
}

form button {
    width: 100% !important;
    display: block !important;
    margin: 10px 0 !important;
}

