/* Contenedor principal del Home */
.home-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Espaciado entre secciones */
section {
  padding: 3rem 1rem;
}

/* Ajustes globales para responsive */
@media (max-width: 768px) {
  .home-container {
    gap: 2rem;
  }

  section {
    padding: 2rem 1rem;
  }
}
