/*  ========================================================================= 
   FORMULARIOS REGISTRO                                                   
    ========================================================================= */

legend{
    font-size: 2.2em;
    color: var(--color-botones);
}

/* ========================================================================= 
   MEDIA QUERIES PARA RESPONSIVIDAD DEL FORMULARIO                          
   Se activa cuando la pantalla es de 900px o menos
   ========================================================================= */
@media (max-width: 900px) {
    .card {
        padding: 20px;
        border: 5px solid #cccccc;
        margin-top: 20px;
    }

    .card h2 {
        font-size: 1.8em;
    }

    .card p:nth-of-type(1) {
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    .form-label {
        font-size: 0.9em;
        margin-bottom: 5px;
    }

    .form-control {
        padding: 10px;
        font-size: 0.9em;
    }

    .card .btn[type="submit"] {
        padding: 12px 20px;
        font-size: 1em;
    }

    .card p.text-muted {
        font-size: 0.8em;
        margin-top: 15px;
    }
}


@media (max-width: 1000px) {
    .imagen-box{
        display: none;
    }
}