/*  ========================================================================= 
   FORMULARIOS LOGUEO                                             
	========================================================================= */

/* ========================================================================= 
   MEDIA QUERIES PARA RESPONSIVIDAD DEL FORMULARIO                          
   Se activa cuando la pantalla es de 1000px o menos
   ========================================================================= */
@media (max-width: 1000px) {
	.imagen-box {
		display: none;
	}
}

/* ========================================================================= 
   MEDIA QUERIES PARA RESPONSIVIDAD DEL FORMULARIO                          
   Se activa cuando la pantalla es de 900px o menos
   ========================================================================= */
@media (max-width: 900px) {
	.card {
		padding: 20px;
		border: 5px solid var(--color-gris-claro);
		margin-top: 20px;
	}

	.card p:nth-of-type(1) {
		font-size: 0.9em;
		margin-bottom: 20px;
	}

	.form-label {
		font-size: 0.9em;
		/* Reduce el tamaño de la etiqueta */
		margin-bottom: 5px;
	}

	.form-control {
		padding: 10px;
		/* Reduce el padding de los inputs */
		font-size: 0.9em;
		/* Reduce el tamaño de la fuente de los inputs */
	}

	.card .btn[type="submit"] {
		padding: 12px 20px;
		font-size: 1em;
		/* Reduce el tamaño de la fuente del botón */
	}

	.card p.text-muted {
		font-size: 0.8em;
		/* Reduce el tamaño del texto "¿No sos usuario?" */
		margin-top: 15px;
		/* Reduce el margen */
	}
}
