/* You can add global styles to this file, and also import other style files */
:root {
    --color-fondo: #EFE4D2;
    --color-fondo-alt: #ffffff;
    --color-botones: #254D70;
    --color-formularios: #131D4F;
    --color-footer: #954C2E;
    --color-gris-oscuro: #333333;
    --color-gris-medio: #666666;
    --color-gris-claro: #cccccc;
}

body {
    background-color: var(--color-fondo);
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}